* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    height: 60px;
    background-color: palevioletred;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: black;
    margin: 13px;
}

.header-content ul {
    list-style-type: none;
}

.header-content li {
    float: left;
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.nav-btn {
    height: 30px;
    width: 80px;
    margin: 13px;
    border-radius: 4px;
}

.nav-btn:hover {
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.navbar li a:hover {
    color: white;
}

/*main*/

.main {
    background-color: rgb(233 233 233);
    height: auto;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.left-side h3 {
    font-size: 25px;
    margin: 20px 0;
}

.left-side h1 {
    font-size: 3rem;
    font-weight: bold;
}

.left-side p {
    font-size: 20px;

}

.main-btn {
    height: 25px;
    width: 80px;
    border-radius: 4px;
    margin: 10px 2px;
}

.main-btn:hover {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
}

.type {
    height: 20px;
    width: 20px;
    background-color: aquamarine;
    float: left;
    margin-left: 7px;
    border-radius: 50%;
}

#black {
    background-color: black;
}

#brown {
    background-color: brown;
}

#blue {
    background-color: blue;
}

#white {
    background-color: white;
}

.type:hover {
    height: 25px;
    width: 25px;
}

.right-side img {
    position: relative;
    right: 40px;
    height: 400px;
    width: auto;
}

.ratings {
    margin: 20px;
    margin-left: 110px;
    padding: 30px 0;
}

.checked {
    color: orangered;
}

@media(max-width:992px) {
    .right-side img {
        height: 300px;
        right: 20px;
    }

    .ratings {
        position: absolute;
        right: 100px;
    }
}

/*--section2*/

.sec-2 {
    background-color: white;
    height: 1200px;
}

.overview .scroll {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: white;
}

.scroll li {
    list-style-type: none;
    float: left;
    margin: 10px 30px;
    font-size: 25px;
    font-weight: bold;
}

.scroll1 li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.scroll li :hover {
    color: brown;
}

.sec-2 h1 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    ;
}

@media (max-width:992px) {
    .container .right-img img {
        height: 30px;
        width: 30px;
        margin: 10px;
    }

    .container.left-img img {
        height: 30px;
        width: 30px;
        margin: 10px;
    }

    .container .center img {
        height: 300px;
        width: 300px;
    }
}

.container .left-img img {
    height: 60px;
    width: 60px;
    margin: 20px;
}

.container .right-img img {
    height: 60px;
    width: 60px;
    margin: 20px;
}

.image-container img {
    width: 100%;

}

@media(max-width:992px) {
    .image-container img {
        height: 765px;
    }
}

/*review section*/

.review {
    background-color: rgb(109 109 109);
}

.review-section {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.customer-review {
    width: 400px;
}

.customer-review h1 {
    margin: 20px 0;
    font-size: 30px;
}

.customer-review p {
    padding-top: 10px;
}

/*
    123*/
.heading {
    font-size: 25px;
}

.fa {
    font-size: 20px;
}

.checked {
    color: orangered;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    position: relative;
    top: 40px;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #4CAF50;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
}

.form-control {
    width: auto;
    height: 40px;
    text-align: center;

}

.review-btn {
    height: 25px;
    margin: 20px 0;
    border-radius: 4px;
}

.review-btn:hover {
    background-color: crimson;
    color: white;
    font-weight: bold;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
}

.person-review-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 4rem 0;
    padding: 2rem 0;
}

.person {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 2px 2px;
    margin: 10px;
    text-align: center;
}

.person p {
    padding: 5px;
}

.person img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px;
    box-sizing: border-box;
}

.person .fa {
    margin: 5px 0;
}

/*---footer---*/

.footer {
    height: 10cm;
    background: #fff;
}

.footer h4 {
    text-align: center;
}

.footer .social-links {
    display: flex;
    justify-content: center;
}

.footer .social-links li {
    list-style-type: none;
    float: left;
    margin: 25px 10px;
}

.footer-content {
    display: flex;
    justify-content: center;

}

.footer-content li {
    list-style-type: none;
    float: left;
    margin: 20px;
}

.footer-content li a {
    text-decoration: none;
    color: black
}

.inner-content a {
    text-decoration: none;
    color: black;
    margin: 10px;
}